<table class="table table-striped">
  <tbody>
    {{#each pokemons}}
    <tr>
      <td>{{id}}</td>
      <td>{{type}}</td>
      <td>{{name}}</td>
      <td>{{cp}}</td>
      <td><a href="/pokemons/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/pokemons/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
      <td><a href="/pokemons/{{id}}?_method=DELETE" class="btn btn-danger">Delete</a></td>
    </tr>
    {{/each}}    
    <td><a href="/pokemons" class="btn btn-success">New</a></td>
  </tbody>
</table>