<table class="table table-striped">
  <tbody>
    {{#each videogames}}
    <tr>
      <td>{{id}}</td>
      <td>{{distributor}}</td>
      <td>{{name}}</td>
      <td>{{type}}</td>
      <td><a href="/videogames/{{id}}" class="btn btn-primary">Show</a></td>
      <td><a href="/videogames/{{id}}/edit" class="btn btn-secondary">Edit</a></td>
      <td>
        <form method="POST" action="/videogames/{{id}}?_method=DELETE">
          <input class="btn btn-danger" type="submit" value="Delete"/>
        </form>
      </td>
    
    </tr>
    {{/each}}    
    <td><a href="/videogames/new" class="btn btn-success">New</a></td>
  </tbody>
</table>